<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>{{template "title" .}}</title>
  <!-- IMPORTS START -->
  {{template "imports" .}}
  {{template "navigation" .}}
  <!-- IMPORTS END -->
</head>

<body>
  <!-- Start your project here-->
  <div class="uk-container">

    <h1 class="uk-heading"><i class="bi bi-hdd-stack"></i>&nbsp;{{.PageTitle}}</h1>

    <form class="uk-form-horizontal uk-margin-small">
      <table
      class="uk-table uk-table-small uk-table-divider  uk-table-justify  uk-table-responsive uk-table-hover">
      <thead>
        <tr>
          <th style="text-align: center">Key</th>
          <th>Name</th>
          <th>IP4Addr</th>
          <th>Zone</th>
          <th style="text-align: center">Active</th>
          <th style="text-align: center">Status</th>
          <th style="text-align: center">Actions</th>
        </tr>
      </thead>
      <tbody>
        {{range .HostList}}
        <tr>
          <td  style="text-align: center" class="uk-text-bold"><a href="/host/vw/{{.Name}}/{{$.Session}}">{{.ExternalID}}</a></td>
          <td>{{.Name}}</td>
          <td>{{.IP4Addr}}</td>
          <td>{{.ZoneText}}</td>
          <td style="text-align: center"><div class="uk-text-bold {{if eq .IsActive.State "true"}}uk-text-success{{else}}uk-text-danger{{end}}">{{if eq .IsActive.State "true"}}<i class="bi bi-check2"></i>{{else}}<i class="bi bi-x-square"></i>{{end}}</div></td>
          <td style="text-align: center"><div class="uk-label {{.Status.Colour}}"><i class="{{.Status.Glyph}}"></i></div></td>
          <td style="text-align: center">
            <a href="/host/vw/{{.Name}}/{{$.Session}}" class="uk-icon-button" uk-icon="eye"></a>
            <a href="/host/ed/{{.Name}}/{{$.Session}}" class="uk-icon-button" uk-icon="file-edit"></a>
            <a href="/host/en/{{.Name}}/{{$.Session}}" class="uk-icon-button" uk-icon="icon: check" uk-tooltip="Enable Host"></a>
            <a href="/host/di/{{.Name}}/{{$.Session}}" class="uk-icon-button" uk-icon="icon: ban" uk-tooltip="Disable Host"></a>
            <a href="/api/{{.Name}}" class="uk-icon-button" uk-icon="icon: code" uk-tooltip="Test API Output"></a>
          </td>
        </tr>
        {{end}}
      </tbody>
    </table>

 




    </form>

  </div>
  <!-- End your project here-->
</body>
<!-- Footer -->

</html>