<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>{{template "title" .}}</title>
  <!-- IMPORTS START -->
  {{template "imports" .}}
  {{template "navigation" .}}
  <!-- IMPORTS END -->
</head>

<body>
  <!-- Start your project here-->
  <div class="uk-container">

    <h1 class="uk-heading"><i class="bi bi-sliders"></i>&nbsp;Settings</h1>
    <form class="uk-form-horizontal uk-margin-large">
      <h2>Pushover Notifications</h2>

      <div class="uk-margin">
        <label class="uk-form-label" for="PushoverUserKey">User Key</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="PushoverUserKey" type="text" placeholder="Enter your Pushover User Key"
            value="{{.SettingsItem.PushoverUserKey}}">
        </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="PushoverAPIToken">API Token</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="PushoverAPIToken" type="text" placeholder="Enter your Pushover API Token"
            value="{{.SettingsItem.PushoverAPIToken}}">
        </div>
      </div>
      <h2>Backups</h2>

      <div class="uk-margin">
        <label class="uk-form-label" for="RetainBackupDays">Retain Backups For x days</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="RetainBackupDays" type="number" placeholder=""
            value="{{.SettingsItem.RetainBackupDays}}">
        </div>
      </div>

      <p uk-margin class="uk-align-right">
        <button type="submit" class="uk-button uk-button-default" formaction="/home?{{$.SessionKey}}={{$.Session}}"><i class="bi bi-x-circle"></i>
&nbsp;Cancel</button>
        <button type="submit" class="uk-button uk-button-primary"><i class="bi bi-floppy"></i>&nbsp;Submit</button>
      </p>

    </form>

  </div>



  <br>
  <br>
  <!-- End your project here-->
  {{template "footer" .}}
</body>
<!-- Footer -->

</html>