<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>{{template "title" .}}</title>
  <!-- IMPORTS START -->
  {{template "imports" .}}
  {{template "navigation" .}}
  <!-- IMPORTS END -->
</head>

<body>
  <!-- Start your project here-->
  <div class="uk-container">

    <h1 class="uk-heading-bullet">{{.PageTitle}}</h1>
    <p class="uk-text-lead"><i class="bi bi-stoplights"></i>&nbsp;<span
        class="uk-text-muted">[{{.StatusItem.Code}}] {{.StatusItem.Name}}</span></p>
    <form class="uk-form-horizontal uk-margin-small">
      <div class="uk-margin">
        <label class="uk-form-label" for="ID">ID</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="ID" name="ID" type="text" placeholder="" value="{{.StatusItem.ID}}"
            disabled>
        </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="Code">Code</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="Code" name="Code"type="text" placeholder="Status Code" value="{{.StatusItem.Code}}"
            disabled>
        </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="Name">Name</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="Name" name="Name" type="text" placeholder="Status Name" value="{{.StatusItem.Name}}">
        </div>
      </div>

      <div class="uk-margin">
        <label class="uk-form-label" for="Description">Description</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="Description" name="Description" type="text" placeholder="Status Description" value="{{.StatusItem.Description}}">
        </div>
      </div>

      <div class="uk-margin">
        <label class="uk-form-label" for="Glyph">Glyph</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="Glyph" name="Glyph" type="text" placeholder="Status Glyph" value="{{.StatusItem.Glyph}}">
        </div>
      </div>

      <div class="uk-margin">
        <label class="uk-form-label" for="Colour">Colour</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="Colour" name="Colour" type="text" placeholder="Status Colour" value="{{.StatusItem.Colour}}">
        </div>
      </div>

      <div class="uk-margin">
        <label class="uk-form-label" for="Default">Default</label>
        <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
          <label><input class="uk-checkbox" type="checkbox" {{if .StatusItem.Default}}checked{{end}} disabled></label>
      </div>
      <br>




      <ul uk-accordion="multiple: true">
        <li>
          <a class="uk-accordion-title" href>Audit</a>
          <div class="uk-accordion-content">

            <table
              class="uk-table uk-table-small uk-table-divider uk-table-justify  uk-table-responsive uk-table-hover">
              <thead>
                <tr>
                  <th>ACTION</th>
                  <th>By</th>
                  <th>On</th>
                  <th>At</th>
                  <th>Notes</th>
                </tr>
              </thead>
              <tbody>
                {{range .StatusItem.Audit.Updates}}
                <tr>
                  <td class="uk-text-bold">{{.UpdateAction}}</td>
                  <td>{{.UpdatedBy}}</td>
                  <td>{{.UpdatedOn}}</td>
                  <td>{{.UpdatedAtDisplay}}</td>
                  <td>{{.UpdateNotes}}</td>

                </tr>
                {{end}}
              </tbody>
            </table>

          </div>
        </li>

      </ul>

      <p uk-margin class="uk-align-right">
        <button type="cancel" class="uk-button uk-button-default" formaction="/home?{{$.SessionKey}}={{$.Session}}" href="/home?{{$.SessionKey}}={{$.Session}}"><i class="bi bi-x-circle"></i>&nbsp;Cancel</button>
        <button type="submit" class="uk-button uk-button-primary" formaction="/status/up/{{.StatusItem.ID}}/{{$.Session}}"><i class="bi bi-floppy"></i>&nbsp;Submit</button>
      </p>

    </form>

  </div>
  <!-- End your project here-->
</body>
<!-- Footer -->

</html>