<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>{{template "title" .}}</title>
  <!-- IMPORTS START -->
  {{template "imports" .}}
  {{template "navigation" .}}
  <!-- IMPORTS END -->
</head>

<body>
  <!-- Start your project here-->
  <div class="uk-container">

    <h1 class="uk-heading-bullet">{{.PageTitle}}</h1>
    <p class="uk-text-lead"><i class="bi bi-people"></i>&nbsp;<span
        class="uk-text-muted">[{{.UserItem.ID}}] {{.UserItem.RealName}}</span></p>
    <form class="uk-form-horizontal uk-margin-small">
      <div class="uk-margin">
        <label class="uk-form-label" for="ID">ID</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="ID" type="text" placeholder="Enter Host Name" value="{{.UserItem.ID}}"
            disabled>
        </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="Name">Name</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="Name" name="Name" type="text" placeholder="Enter Host Name" value="{{.UserItem.RealName}}">
        </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="UserName">UserName</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="UserName" name="UserName" type="text" placeholder="Enter Host Name" value="{{.UserItem.UserName}}"
            disabled>
        </div>
      </div>

      <div class="uk-margin">
        <label class="uk-form-label" for="Host">Host</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="Host" name="Host" type="text" placeholder="" value="{{.UserItem.Host}}"
            disabled>
        </div>
      </div>

      <div class="uk-margin">
        <label class="uk-form-label" for="UID">UID</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="UID" name="UID" type="text" placeholder="Enter Host Name" value="{{.UserItem.UID}}"
            disabled>
        </div>
      </div>

      <div class="uk-margin">
        <label class="uk-form-label" for="GID">GID</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="GID" name="GID" type="text" placeholder="Enter Host Name" value="{{.UserItem.GID}}"
            disabled>
        </div>
      </div>

      <div class="uk-margin">
        <label class="uk-form-label" for="UserCode">UserCode</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="UserCode" name="UserCode" type="text" placeholder="Enter Host Name" value="{{.UserItem.UserCode}}"
            disabled>
        </div>
      </div>

      <div class="uk-margin">
        <label class="uk-form-label" for="Email">Email</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="Email" name="Email" type="text" placeholder="Enter  Email" value="{{.UserItem.Email}}">
        </div>
      </div>

      <div class="uk-margin">
        <label class="uk-form-label" for="Notes">Notes</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="Notes" name="Notes" type="text" placeholder="Enter Notes" value="{{.UserItem.Notes}}">
        </div>
      </div>

      <div class="uk-margin">
        <label class="uk-form-label" for="Notes">Active</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="Active" name="Active" type="text" placeholder="Enter Active" value="{{.UserItem.IsActive.State}}"
            disabled>
        </div>
      </div>

      <div class="uk-margin">
        <label class="uk-form-label" for="LastLogin">LastLogin</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="LastLogin" name="LastLogin" type="text" placeholder="Enter LastLogin" value="{{.UserItem.LastLogin}}"
            disabled>
        </div>
      </div>

      <div class="uk-margin">
        <label class="uk-form-label" for="LastHost">LastHost</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="LastHost" name="LastHost" type="text" placeholder="Enter LastHost" value="{{.UserItem.LastHost}}"
            disabled>
        </div>
      </div>

 

      <ul uk-accordion="multiple: true">
        <li class="uk-open">
          <a class="uk-accordion-title" href>Rights Granted</a>
          <div class="uk-accordion-content">

            <table class="uk-table uk-table-small uk-table-divider uk-table-justify  uk-table-responsive uk-table-hover uk-table-middle">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Object/Domain</th>
                  <th>Description</th>
     
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {{range .GrantsList}}
                <tr>
                  <td class="uk-text-bold">{{.Behaviour.Raw}}</td>
                  <td>{{.Behaviour.Domain}}</td>
                  <td>{{.Behaviour.Text}}</td>
                  <td><a href="/users/revoke/{{$.UserItem.ID}}/{{.BehaviourID}}/" class="uk-button uk-button-default">Revoke</a></td>
                </tr>
                {{end}}
              </tbody>
            </table>

          </div>
        </li>
        <li class="uk-open">
          <a class="uk-accordion-title" href>Rights Available</a>
          <div class="uk-accordion-content">

            <table class="uk-table uk-table-small uk-table-divider uk-table-justify  uk-table-responsive uk-table-hover uk-table-middle">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Object/Domain</th>
                  <th>Description</th>
         
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {{range .BehavioursSelect.Data}}
                <tr>
                  <td class="uk-text-bold">{{.Value}}</td>
                  <td>{{.ObjectDomain}}</td>
                  <td>{{.Description}}</td>
                  <td><a href="/users/grant/{{$.UserItem.ID}}/{{.Key}}/" class="uk-button uk-button-default">Grant</a></td>
                </tr>
                {{end}}
              </tbody>
            </table>

          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href>Audit</a>
          <div class="uk-accordion-content">

            <table class="uk-table uk-table-small uk-table-divider uk-table-justify  uk-table-responsive uk-table-hover">
              <thead>
                <tr>
                  <th>ACTION</th>
                  <th>By</th>
                  <th>On</th>
                  <th>At</th>
                  <th>Notes</th>
                </tr>
              </thead>
              <tbody>
                {{range .UserItem.Audit.Updates}}
                <tr>
                  <td class="uk-text-bold">{{.UpdateAction}}</td>
                  <td>{{.UpdatedBy}}</td>
                  <td>{{.UpdatedOn}}</td>
                  <td>{{.UpdatedAtDisplay}}</td>
                  <td>{{.UpdateNotes}}</td>

                </tr>
                {{end}}
              </tbody>
            </table>

          </div>
        </li>

      </ul>

      <p uk-margin class="uk-align-right">
        <button type="submit" class="uk-button uk-button-default" formaction="/home?{{$.SessionKey}}={{$.Session}}"><i class="bi bi-x-circle"></i>&nbsp;Cancel</button>
        <button type="submit" class="uk-button uk-button-primary" formaction="/user/up/{{.UserItem.ID}}/{{$.Session}}"><i class="bi bi-floppy"></i>&nbsp;Submit</button>
      </p>

    </form>

  </div>
  <!-- End your project here-->
</body>
<!-- Footer -->

</html>