# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

main.go
data/database/frantic-aliquid-main.db
data/logs/frantic-aliquid-audit.log
data/logs/frantic-aliquid-database.log
data/logs/frantic-aliquid-event.log
data/logs/frantic-aliquid-general.log
data/logs/frantic-aliquid-import.log
data/logs/frantic-aliquid-security.log
data/logs/frantic-aliquid-service.log
data/logs/frantic-aliquid-warning.log
